mixin input(label, name)
	.form-group
		label=label
		input.form-control(name=name value=val(name))

mixin genders()
	.control
		label(class="radio")
			input(type="radio", name="gender", value="male")
			i.fa.fa-mars.ml-2.mr-4
		label(class="radio")
			input(type="radio", name="gender", value="female")
			i.fa.fa-venus.ml-2.mr-4
		label(class="radio")
			input(type="radio", name="gender", value="other")
			i.fa.fa-transgender-alt.ml-2.mr-4s

mixin usernamePasswordRow()
	.columns.is-vcentered
		.column
			.form-group
				.field
					label.label Username
					.control
						input.input(name="username" type='text')
		.column
			.form-group
				.field
					label.label Password
					.control
						input.input(name="password" type='password')

mixin namesRow(firstname, lastname)
	.columns.is-vcentered
		.column
			.form-group
				.field
					label.label Firstname
					.control
						input.input(name="firstname" type='text' value=firstname)
		.column
			.form-group
				.field
					label.label Lastname
					.control
						input.input(name="lastname" type='text' value=lastname)

mixin emailRow(email)
	.columns
		.column
			.form-group
				.field
					label.label Email
					.control
						input.input(name="email" type="text" value=email)

mixin phoneRow(phone)
	.columns
		.column
			.form-group
				.field
					label.label Phone
					.control
						input.input(name="phone" type="text" value=phone)
