include ./form

mixin title(message)
    h1.welcome.mt-4.mb-0.has-text-centered=message

mixin logoutButton(href)
    a(href=href)
        .fas.fa-power-off.error-red.logout-button

mixin serviceRow(service)
    form
        .columns
            .column
                h1=service.title
                img(src=service.imagePath)
            .column
                .columns
                    +input

mixin changeModal(modalName)
    .modal(data-modal-name=modalName)
        .modal-background
        .modal-card
            header.modal-card-head
                p.modal-card-title Change credentials
                button.delete(aria-label='close')
            section.modal-card-body
                // Content ...
            footer.modal-card-foot
                button.button.success-green Save changes
                button.button.error-red Cancel
